@model BankingAPP_EF_Demo.Models.EF.AccountsInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountsInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccBranchNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccBranchNavigation.BranchNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
