@model IEnumerable<BankingAPP_EF_Demo.Models.EF.AccountsInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccBranchNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccBranchNavigation.BranchNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AccNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
